<h1>{% trans %}Hi{% endtrans %}! {% trans %}Please confirm your email{% endtrans %}!</h1>

<p>
    {% trans %}Please confirm your email address by clicking the following link{% endtrans %}: <br><br>
    <a href="{{ signedUrl|raw }}">{% trans %}Confirm my Email{% endtrans %}</a>.
    {% trans with {'%hours%': expiresAt|date('g')} %}This link will expire in %hours% hour(s){% endtrans %}.
</p>

<p>
    {% trans %}Cheers!{% endtrans %}
</p>
