{% extends 'base-auth.html.twig' %}

{% block title %}Email is verified!{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h1>Email is verified!</h1>
                <a href="{{ path('app_profile') }}">Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
