{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    <a href="{{ path('app_login') }}">Sign in</a> <br/>
    <a href="{{ path('app_register') }}">Sign up</a> <br/>
{% endblock %}
